#container {
    width: 960px;
    background-color: yellow;
    margin-left:10%;
    font-size: 15px;
    padding: 20px;
}

#left {
    background-color: #4aaaa5;
    color: white;
    float: left;
    padding: 5px;
}

#right-1 {
    float: right;
}

#right-divider-1 {
    float: right;
}

#right-2 {
    float: right;
}

#right-divider-2 {
    float: right;
}
#right-3 {
    float: right;
}

#main-content {
    clear: both;
    overflow: auto;
}

#content {

}
 
#content-header {
    color: #4aaaa5;
}

#content-body {

}

footer {

}