#logo {
    background-color: yellow;
}

#name {
    float: left;
    background-color: lightblue;
    margin: 30px;
    margin-left: 50px;
    padding: 20px;
}

h3 {
    margin: 30px;
    padding: 20px;
}
#about {
    float: right;
}

#portfolio {
    float: right;
}

#contact {
    float: right;
}